@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


$COLOR: (
prime: #3b70fc,
dark: #3c3c3c,
grey: #dddfe6,
white: #f9f9f9
);


@function color($color) {
    @return map-get($COLOR, $color);
}

.container {
    margin: auto;
    font-family: "Poppins", Arial, san-serif;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(white);
    height: 100%;
}


   .card {
       background: #fff
       url("https://storage.googleapis.com/chydlx/codepen/minimalist-profile-card/card-bg.jpg")
       top -10% center no-repeat;
       background-size: contain;
       border-radius: 10px;
       box-shadow: 0 10px 30px -5px rgba(color(dark), 0.2);
       text-align: center;
       padding: 30px 60px;
img {
    background-color: color(grey);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto auto 15px;
    display: block;
}
h1 {
    font-size: 22px;
    margin: 10px auto 0;
    letter-spacing: 1px;
}
h2 {
    margin: auto;
    color: darken(color(grey), 15);
    font-weight: 300;
    font-size: 14px;
}
.button {
    display: block;
    text-decoration: none;
    background: color(prime);
    color: color(white);
    padding: 12px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    min-width: 200px;
    transition: 0.2s;
span {
    font-size: 20px;
    line-height: 1;
    vertical-align: top;
}
&:hover {
     background: darken(color(prime), 7);
 }
}
}
